/*************** COMMON/CONTAINER *****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/************* HEADER *************/





/************* MAIN *************/

.container{
    width: 40%;
    margin: 5rem auto;
}



/************* FOOTER *************/





/************* RESPONSIVE *************/
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
 
}